<h1>Alta Cliente</h1>

<form [formGroup]="cliente">
  <table>
    <tr>
      <td>
        Nombre:
      </td>
      <td>
        <input type="text" formControlName="nombre">
      </td>
    </tr>
    <tr>
      <td>
        CIF:
      </td>
      <td>
        <input type="text" formControlName="cif">
      </td>
    </tr>
    <tr>
      <td>
        Dirección:
      </td>
      <td>
        <input type="text" formControlName="direccion">
      </td>
    </tr>
    <tr>
      <td>
        Grupo:
      </td>
      <td>
        <select formControlName="grupo">
          <option value="Sin definir" selected>Sin definir</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </td>
    </tr>
  </table>
  <br>
  <button (click)="addCliente()">Guardar</button>
</form>
<br>
<div *ngIf="arrayClientes.length>0">

  <hr>

  <h1>Listado Clientes</h1>

  <table *ngFor="let item of arrayClientes">
    <app-lista nombre = "{{item.nombre}}" cif="{{item.cif}}" direccion="{{item.direccion}}" grupo="{{item.grupo}}"></app-lista>
  </table>
</div>

<router-outlet></router-outlet>
